{% extends 'base.html' %}

{% load thumbnail %}

{% block content %}
<h4>{{session.start_time}} -- {{session.user.name_to_use}}</h4>
<h4>App {{session.application.app_id}}</h4>
{% if session.address %}
<p>{{session.address}}</p>
{% endif %}
<table>
  {% for tag in tags %}
  <tr>
    <td>{{tag.date}}</td>
    <td>{{tag.tag}}</td>
    <td>
      {% if tag.screenshot %}
      <img src="{% thumbnail tag.screenshot.image 120x160 %}"/>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
